name: 'Workflows: Lint commit messages'

on:
  pull_request:

jobs:
  lint-commits:
    runs-on: ubuntu-20.04
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: 'Clone gh-composite-actions repository'
        # https://github.com/actions/checkout#checkout-multiple-repos-side-by-side
        uses: actions/checkout@v3
        with:
          repository: CleverShuttle/gh-composite-actions
          path: tmp

      - name: "Lint commit messages"
        # https://github.com/wagoid/commitlint-github-action
        uses: wagoid/commitlint-github-action@v2.0.3
        with:
          failOnWarnings: true
          # Path to cloned actions repo
          configFile: 'tmp/actions/lint-commits/commitlint.config.js'
