name: 'Workflows: Release'

on:
  push:
    branches:
      - master

# https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    runs-on: ubuntu-20.04
    steps:
      - name: 'Checkout'
        # https://github.com/actions/checkout
        uses: actions/checkout@v3

      - name: 'Clone gh-composite-actions repository'
        # https://github.com/actions/checkout#checkout-multiple-repos-side-by-side
        uses: actions/checkout@v3
        with:
          repository: CleverShuttle/gh-composite-actions
          path: tmp

      - name: 'Install package required in changelog.config.js'
        shell: bash
        run: npm i conventional-changelog-conventionalcommits

      - name: 'Generate changelog'
        id: conventional-changelog
        # https://github.com/TriPSs/conventional-changelog-action
        uses: TriPSs/conventional-changelog-action@v3.11.0
        with:
          preset: conventionalcommits
          github-token: ${{ secrets.github_token }}
          git-push: false
          skip-version-file: true
          skip-commit: true
          release-count: 0
          config-file-path: 'tmp/actions/create-changelog-and-release/changelog.config.js'

      - name: 'Semantic versioning'
        id: semantic-versioning
        # https://github.com/ietf-tools/semver-action
        uses: ietf-tools/semver-action@v1.1.0
        with:
          token: ${{ github.token }}
          branch: ${{ github.ref }}
          minorList: feat, feature
          # https://github.com/conventional-changelog/commitlint/tree/master/%40commitlint/config-conventional#type-enum
          patchList: fix, bugfix, perf, refactor, test, tests, chore, build, ci, doc, docs, revert, style, deps, improvements, enhancement, other

      - name: 'Set version and tag'
        id: versioning
        shell: bash
        env:
          SEMANTIC_VERSIONING_VERSION: ${{ env.nextStrict }}
        run: |
          echo "::set-output name=version::${{ env.SEMANTIC_VERSIONING_VERSION }}"
          echo "::set-output name=tag::v${{ env.SEMANTIC_VERSIONING_VERSION }}"

      - name: "Commit changes and set git tag"
        shell: bash
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "Github Action"
          git add .
          git commit -m "chore(release): ${{ steps.versioning.outputs.version }}" -a
          git tag -d ${{ steps.versioning.outputs.tag }}
          git tag -a ${{ steps.versioning.outputs.tag }} -m ${{ steps.versioning.outputs.tag }}

      - name: 'Push changes'
        # https://github.com/ad-m/github-push-action
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ github.token }}
          branch: ${{ github.ref }}

      - name: 'Create Github release'
        # https://github.com/softprops/action-gh-release
        uses: softprops/action-gh-release@v0.1.14
        env:
          github_token: ${{ secrets.github_token }}
        with:
          body: ${{ steps.conventional-changelog.outputs.clean_changelog }}
          tag_name: ${{ steps.versioning.outputs.tag }}
          name: ${{ steps.versioning.outputs.tag }}
