name: 'Workflows: Release master'

on:
  push:
    branches:
      - master

# https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    runs-on: ubuntu-20.04
    steps:
      - name: 'Checkout'
        # https://github.com/actions/checkout
        uses: actions/checkout@v3

      - name: 'Generate changelog'
        id: conventional-changelog
        # https://github.com/TriPSs/conventional-changelog-action
        uses: TriPSs/conventional-changelog-action@v3.11.0
        with:
          github-token: ${{ secrets.github_token }}
          skip-version-file: true

      - name: 'Create Github release'
        # https://github.com/softprops/action-gh-release
        uses: softprops/action-gh-release@v0.1.14
        if: ${{ steps.conventional-changelog.outputs.skipped == 'false' }}
        env:
          github_token: ${{ secrets.github_token }}
        with:
          body: ${{ steps.conventional-changelog.outputs.clean_changelog }}
          tag_name: ${{ steps.conventional-changelog.outputs.tag }}
          name: ${{ steps.conventional-changelog.outputs.tag }}
