name: "Component: Build pull request"

on:
  workflow_call:
    inputs:
      java_version:
        required: false
        default: "17"
        type: string
      sonar_analysis_enabled:
        required: false
        default: true
        type: boolean
      sonar_project_key:
        required: false
        type: string
    secrets:
      ARTIFACTORY_PASSWORD:
        required: true
      ARTIFACTORY_USERNAME:
        required: true
      SONAR_TOKEN:
        required: true
      SONAR_URL:
        required: true

jobs:
  component-build-pull-request:
    runs-on: ubuntu-20.04
    env:
      MAVEN_ARGS: "--batch-mode --no-transfer-progress"
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v3

      - name: "Set up JDK"
        uses: actions/setup-java@v3
        with:
          java-version: "${{ inputs.java_version }}"
          distribution: "temurin"

      - name: "Restore Maven cache"
        uses: skjolber/maven-cache-github-action@v1
        with:
          step: restore

      - name: "Copy Maven settings.xml"
        uses: CleverShuttle/gh-composite-actions/actions/maven-settings@v1.30.6

      - name: "Env variable: MAVEN_GROUP_ID"
        if: ${{ inputs.sonar_analysis_enabled }}
        env:
          USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
          PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}
        run: echo "MAVEN_GROUP_ID=$(mvn ${{ env.MAVEN_ARGS }} -Dexpression=project.groupId -q -DforceStdout org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate 2>/dev/null)" >> $GITHUB_ENV

      - name: "Env variable: MAVEN_ARTIFACT_ID"
        if: ${{ inputs.sonar_analysis_enabled }}
        env:
          USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
          PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}
        run: echo "MAVEN_ARTIFACT_ID=$(mvn ${{ env.MAVEN_ARGS }} -Dexpression=project.artifactId -q -DforceStdout org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate 2>/dev/null)" >> $GITHUB_ENV

      - name: "Build component with Maven"
        env:
          USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
          PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}
        run: mvn ${{ env.MAVEN_ARGS }} clean install

      - name: "Get Sonar project key"
        id: sonar-project-key
        if: ${{ inputs.sonar_analysis_enabled }}
        env:
          MAVEN_GROUP_ID: ${{ env.MAVEN_GROUP_ID }}
          MAVEN_ARTIFACT_ID: ${{ env.MAVEN_ARTIFACT_ID }}
          SONAR_PROJECTKEY: ${{ inputs.sonar_project_key }}
        shell: bash
        run: |
          if [ -z "${{ env.SONAR_PROJECTKEY }}" ]; then
            output="${{ env.MAVEN_GROUP_ID }}:${{ env.MAVEN_ARTIFACT_ID }}"
            echo "Use calculated sonar key '$output'"
            echo "::set-output name=value::$output"
          else
            output="${{ env.SONAR_PROJECTKEY }}"
            echo "Use given sonar key '$output'"
            echo "::set-output name=value::$output"
          fi

      - name: "Run Sonar analysis for pull requests"
        if: ${{ inputs.sonar_analysis_enabled }}
        uses: CleverShuttle/gh-composite-actions/actions/sonar-java-analysis-pull-request@v1.30.6
        with:
          sonar_token: ${{ secrets.SONAR_TOKEN }}
          artifactory_username: ${{ secrets.ARTIFACTORY_USERNAME }}
          artifactory_password: ${{ secrets.ARTIFACTORY_PASSWORD }}
          sonar_url: ${{ secrets.SONAR_URL }}
          sonar_project_key: ${{ steps.sonar-project-key.outputs.value }}

      - name: "Save Maven cache"
        uses: skjolber/maven-cache-github-action@v1
        with:
          step: save
