name: "Component: Release"

on:
  workflow_call:
    inputs:
      java_version:
        required: false
        default: "17"
        type: string
      sonar_analysis_enabled:
        required: false
        default: true
        type: boolean
      sonar_project_key:
        required: false
        type: string
    secrets:
      ARTIFACTORY_PASSWORD:
        required: true
      ARTIFACTORY_USERNAME:
        required: true
      PRODUCTION_DEPLOYMENTS_SLACK_CHANNEL_ID:
        required: true
      SLACK_BOT_SIGNING_SECRET_OMG_BACKEND:
        description: "Slack signing secret - deprecated"
        required: false
      SLACK_BOT_TOKEN_OMG_BACKEND:
        required: true
      SONAR_TOKEN:
        required: true
      SONAR_URL:
        required: true

# https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency: ${{ github.workflow }}

jobs:
  component-release:
    runs-on: ubuntu-20.04
    env:
      MAVEN_ARGS: "--batch-mode --no-transfer-progress"
    steps:
      - name: "Checkout repository"
        uses: actions/checkout@v3

      - name: "Set up JDK"
        uses: actions/setup-java@v3
        with:
          java-version: "${{ inputs.java_version }}"
          distribution: "temurin"

      - name: "Restore Maven cache"
        uses: skjolber/maven-cache-github-action@v1
        with:
          step: restore

      - name: "Copy Maven settings"
        uses: CleverShuttle/gh-composite-actions/actions/maven-settings@v1.31.1

      - name: "Env variable: MAVEN_GROUP_ID"
        if: ${{ inputs.sonar_analysis_enabled }}
        env:
          USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
          PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}
        run: echo "MAVEN_GROUP_ID=$(mvn ${{ env.MAVEN_ARGS }} -Dexpression=project.groupId -q -DforceStdout org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate 2>/dev/null)" >> $GITHUB_ENV

      - name: "Env variable: MAVEN_ARTIFACT_ID"
        if: ${{ inputs.sonar_analysis_enabled }}
        env:
          USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
          PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}
        run: echo "MAVEN_ARTIFACT_ID=$(mvn ${{ env.MAVEN_ARGS }} -Dexpression=project.artifactId -q -DforceStdout org.apache.maven.plugins:maven-help-plugin:3.2.0:evaluate 2>/dev/null)" >> $GITHUB_ENV

      - name: "Slack: In progress"
        id: slack-progress
        uses: CleverShuttle/gh-composite-actions/actions/slack-status@v1.31.1
        with:
          slack_token: ${{secrets.SLACK_BOT_TOKEN_OMG_BACKEND}}
          slack_channel_id: ${{secrets.PRODUCTION_DEPLOYMENTS_SLACK_CHANNEL_ID}}
          status: IN_PROGRESS
          build: RELEASE
          type: COMPONENT

      - name: "Build component with Maven"
        env:
          USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
          PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}
        run: mvn ${{ env.MAVEN_ARGS }} clean install

      - name: "Generate changelog and create release"
        id: create-changelog-and-release
        uses: CleverShuttle/gh-composite-actions/actions/create-changelog-and-release@v1.31.1
        with:
          artifactory_username: ${{ secrets.ARTIFACTORY_USERNAME }}
          artifactory_password: ${{ secrets.ARTIFACTORY_PASSWORD }}

      - name: "Deploy to Artifactory"
        continue-on-error: true
        env:
          USERNAME: ${{ secrets.ARTIFACTORY_USERNAME }}
          PASSWORD: ${{ secrets.ARTIFACTORY_PASSWORD }}
        run: |
          mvn ${{ env.MAVEN_ARGS }} deploy \
          -DskipForbiddenApisCheck \
          -Dmaven.main.skip \
          -DskipTests \
          -DskipIntegrationTests \
          -DskipUnitTests \
          -DskipDependencyCheck

      - name: "Get Sonar project key"
        id: sonar-project-key
        if: ${{ inputs.sonar_analysis_enabled }}
        env:
          MAVEN_GROUP_ID: ${{ env.MAVEN_GROUP_ID }}
          MAVEN_ARTIFACT_ID: ${{ env.MAVEN_ARTIFACT_ID }}
          SONAR_PROJECTKEY: ${{ inputs.sonar_project_key }}
        shell: bash
        run: |
          if [ -z "${{ env.SONAR_PROJECTKEY }}" ]; then
            output="${{ env.MAVEN_GROUP_ID }}:${{ env.MAVEN_ARTIFACT_ID }}"
            echo "Use calculated sonar key '$output'"
            echo "::set-output name=value::$output"
          else
            output="${{ env.SONAR_PROJECTKEY }}"
            echo "Use given sonar key '$output'"
            echo "::set-output name=value::$output"
          fi

      - name: "Run Sonar analysis for master"
        if: ${{ inputs.sonar_analysis_enabled }}
        uses: CleverShuttle/gh-composite-actions/actions/sonar-java-analysis-master@v1.31.1
        with:
          sonar_token: ${{ secrets.SONAR_TOKEN }}
          artifactory_username: ${{ secrets.ARTIFACTORY_USERNAME }}
          artifactory_password: ${{ secrets.ARTIFACTORY_PASSWORD }}
          sonar_url: ${{ secrets.SONAR_URL }}
          sonar_project_key: ${{ steps.sonar-project-key.outputs.value }}

      - name: "Save Maven cache"
        uses: skjolber/maven-cache-github-action@v1
        with:
          step: save

      - name: "Slack: Success"
        if: ${{ success() && github.event.sender.login != 'renovate[bot]' || startsWith(github.event.head_commit.message, 'renovate/')) }}
        uses: CleverShuttle/gh-composite-actions/actions/slack-status@v1.31.1
        with:
          slack_token: ${{secrets.SLACK_BOT_TOKEN_OMG_BACKEND}}
          slack_channel_id: ${{secrets.PRODUCTION_DEPLOYMENTS_SLACK_CHANNEL_ID}}
          slack_message_ts: ${{ steps.slack-progress.outputs.slack_message_ts }}
          slack_reaction: white_check_mark
          changelog: ${{ steps.create-changelog-and-release.outputs.changelog }}
          status: SUCCESS
          build: RELEASE
          type: COMPONENT
          version: ${{ steps.create-changelog-and-release.outputs.version }}

      - name: "Slack: Failure"
        if: ${{ failure() }}
        uses: CleverShuttle/gh-composite-actions/actions/slack-status@v1.31.1
        with:
          slack_token: ${{secrets.SLACK_BOT_TOKEN_OMG_BACKEND}}
          slack_channel_id: ${{secrets.PRODUCTION_DEPLOYMENTS_SLACK_CHANNEL_ID}}
          status: FAILURE
          build: RELEASE
          type: COMPONENT
          version: ${{ steps.create-changelog-and-release.outputs.version }}
