name: "Common: Merge to NONPROD"

on:
  workflow_call:

jobs:
  merge-to-nonprod:
    runs-on: ubuntu-20.04
    steps:
      - name: "Merge to NONPROD"
        uses: CleverShuttle/gh-composite-actions/actions/merge-to-nonprod@fix/CP-558_fix_merge_action
